body{
    background-image: url("https://th.bing.com/th/id/OIGP.wX87zu9doowDJ7xGuy5J?r=0&pid=ImgGn");
    background-repeat: no-repeat;
    background-size: cover;
}
#signup{
    background-color: #828770;
    color: #FCF5C1;

}

#Password{
    background-color: #828770;
    color: #FCF5C1;
}
#row{
    content: "";
    width: 1000px;
    height: 1px;
    background-color: blue;
    display: block;
}